<!DOCTYPE html>
<html lang="en" style="overflow-x: hidden;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Flask App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="overflow-x: hidden;">
    <div id="option" class="text-center">
        <h3>Izaberite opciju: </h3>
            <input type="radio" id="search_database" name="option" onclick="renderSearchInputs()" checked>
            <label class="label label-info" for="search_database">Pretraži bazu</label>
            <input type="radio" id="add_estate" name="option" onclick="renderCreateInputs()">
            <label for="add_estate"><span class="label label-info">Dodaj nekretninu</span></label>
            <br>
    </div>
    {% if message is not none %}
        {% if message is string %}
            <br>
            <div class="alert alert-success text-center">
                <button type="button" class="closebtn" onclick="this.parentElement.style.display='none';">&times;</button>
                {{ message }}
            </div>
        {% endif %}
    {% endif %}
    <div id="action">
        <h1 class="jumbotron text-center">Pretraživač nekretnina</h1>
        <div class="container">
            <div class="row">
                <form action="{{ url_for('read', option=True) }}" method="POST">
                    <span class="border border-primary">
                        <div class="col-sm-6">
                                <h2>Filteri: </h2>

                                <h3>Tip nekretnine: </h3>
                                <input type="radio" id="radio_house" name="house" value="kuća">
                                <label for="radio_house">Kuća</label>
                                <input type="radio" id="radio_flat" name="house" value="stan">
                                <label for="radio_flat">Stan</label>
                                <br>
            
                                <h3>Dostupnost parkinga: </h3>
                                <input type="radio" id="radio_parking_yes" name="parking" value=True>
                                <label for="radio_parking_yes">Da</label>
                                <input type="radio" id="radio_parking_no" name="parking" value=False>
                                <label for="radio_parking_no">Ne</label>
                                <br>
            
                                <h3>Kvadratura: </h3>
                                <label for="min_squares">Od: </label>
                                <input type="number" id="min_squares" name="min_squares" min="0" max="1389">
                                <label for="max_squares">Do: </label>
                                <input type="number" id="max_squares" name="max_squares" min="0" max="1389">
                                <br>
                        </div>
                    </span>
                    <div class="col-sm-6">
                        <h2>Pretraga po identifikatoru: </h2>
                        <label for="id_show">ID: </label>
                        <input type="number" id="id_show" name="id_show" min="0">
                        <br>
                        <br>
                    </div>
            </div>
            <div class="row">
                <br>
                <br>
                <button type="submit" id="submit_btn" name="submit_btn" class="btn btn-info btn-block">Pretraži</button>
                <hr>
                </form>
            </div> 
        </div>
    </div>
    <div id="results"> 
        {% if data is not none %}
            {% if data is iterable and data is not string %}
                {% for row in data.items %}
                        <div class='item_row'>
                            <ul id="{{ row.advert_id }}">
                                <li>ID: {{ row.advert_id }}</li>
                                <li>Tip nekretnine: {{ row.residence_type }}</li>
                                <li>Tip ponude: {{ row.transaction_type }}</li>
                                <li>Lokacija: {{ row.location }}</li>
                                <li>Kvadratura: {{ row.size }}</li>
                                <li>Broj soba: {{ row.room_count }}</li>
                                <li>Parking: {{ row.parking }}</li>
                                <li>Tip grejanja: {{ row.heating_type }}</li>
                                <li>Broj kupatila: {{ row.bathroom_count }}</li>
                                <li>Veličina zemljišta: {{ row.land }}</li>
                                <li>Spratnost: {{ row.level }}</li>
                                <li>Uknjiženost: {{ row.registered }}</li>
                                <li>Godina gradnje: {{ row.building_year }}</li>
                                <li>Dodatne informacije: <pre>{{ row.additional_info }}</pre></li>
                                <button class="btn-warning" onclick="openModal( {{ row.advert_id }} );">Izmeni podatke</button>
                            </ul>  
                        </div>
                        <hr>
                    {% endfor %}

                    <div class="text-center">
                        <ul class="pagination">
                            {% for page in data.iter_pages() %}
                                {% if page %}
                                    <li><a href="{{ url_for('read', page_num=page, option=False) }}">{{ page }}</a></li>
                                {% else %}
                                    <li><a class="disabled">...</a></li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                    </div>
                    
            {% endif %}
        {% endif %}
        </div>
    <dialog id="modal">
        <h1>Ažurirajte sledeću nekretninu:</h1>
        <div>
            <form action="{{ url_for('update') }}" method="POST">
                <input type="text" name="estate_id" id="estate_id" value="" readonly/>
                <br>
                <br>

                <label for="residence_type">Tip nekretnine:</label>
                <select name="residence_type" id="residence_type" value="None">
                  <option value="kuća" onclick="showLand()">Kuća</option>
                  <option value="stan" onclick="showLevels()">Stan</option>
                </select>
                <br>
                <br>

                <label for="transaction_type">Tip transakcije:</label>
                <select name="transaction_type" id="transaction_type" value="None">
                  <option value="prodaja">Prodaja</option>
                  <option value="izdavanje">Izdavanje</option>
                </select>
                <br>
                <br>

                <label for="location">Lokacija:</label>
                <input type="text" id="location" name="location"/>
                <br>
                <br>

                <label for="size">Kvadratura:</label>
                <input type="number" id="size" name="size" min="0" max="1389"/>
                <br>
                <br>

                <label for="room_count">Broj soba:</label>
                <input type="number" id="room_count" name="room_count"/>
                <br>
                <br>

                <label for="parking">Parking:</label>
                <select name="parking" id="parking" value="None">
                  <option value=True>Da</option>
                  <option value=False>Ne</option>
                </select>
                <br>
                <br>

                <label for="heating_type">Tip grejanja:</label>
                <input type="text" id="heating_type" name="heating_type"/>
                <br>
                <br>

                <label for="bathroom_count">Broj kupatila:</label>
                <input type="number" id="bathroom_count" name="bathroom_count"/>
                <br>
                <br>

                <label for="building_year">Godina izgradnje:</label>
                <input type="number" id="building_year" name="building_year"/>
                <br>
                <br>

                <label for="registered">Uknjiženost:</label>
                <select name="registered" id="registered">
                  <option value=True selected>Da</option>
                  <option value=False>Ne</option>
                </select>
                <br>
                <br>

                <div id="land_or_levels">
                    <label for="land">Veličina zemljišta:</label>
                    <input type="number" id="land" name="land" step="0.1"/>
                    <br>
                    <br>
                </div>
                <br>
                <br>

                <label for="additional_info">Dodatne informacije:</label>
                <textarea name="additional_info" id="additional_info" maxlength="255">
                </textarea>
                <br>
                <br>

                <button class="btn-success" type="submit" id="submit_update_btn" name="submit_update_btn">Dodaj</button>
                <button class="btn-danger" type="button" id="cancel_update_btn" name="cancel_update_btn" onclick="closeModal();">Otkaži</button>
            </form>
        </div>
    </dialog>
</body>

<script>

function renderCreateInputs(){
    html = `
        <h1 class="jumbotron text-center">Kreirajte novu nekretninu:</h1>
        <div class="text-center">
            <h2>Parametri:</h2>
            <form action="{{ url_for('create') }}" method="POST">
                <label for="residence_type">Tip nekretnine:</label>
                <select name="residence_type" id="residence_type">
                  <option value="kuća" onclick="showLand()" selected>Kuća</option>
                  <option value="stan" onclick="showLevels()">Stan</option>
                </select>
                <br>
                <br>

                <label for="transaction_type">Tip transakcije:</label>
                <select name="transaction_type" id="transaction_type">
                  <option value="prodaja" selected>Prodaja</option>
                  <option value="izdavanje">Izdavanje</option>
                </select>
                <br>
                <br>

                <label for="location">Lokacija:</label>
                <input type="text" id="location" name="location" required="required"/>
                <br>
                <br>

                <label for="size">Kvadratura:</label>
                <input type="number" id="size" name="size" required="required"/>
                <br>
                <br>

                <label for="room_count">Broj soba:</label>
                <input type="number" id="room_count" name="room_count" required="required"/>
                <br>
                <br>

                <label for="parking">Parking:</label>
                <select name="parking" id="parking">
                  <option value=True selected>Da</option>
                  <option value=False>Ne</option>
                </select>
                <br>
                <br>

                <label for="heating_type">Tip grejanja:</label>
                <input type="text" id="heating_type" name="heating_type" required="required"/>
                <br>
                <br>

                <label for="bathroom_count">Broj kupatila:</label>
                <input type="number" id="bathroom_count" name="bathroom_count"/>
                <br>
                <br>

                <label for="building_year">Godina izgradnje:</label>
                <input type="number" id="building_year" name="building_year"/>
                <br>
                <br>

                <label for="registered">Uknjiženost:</label>
                <select name="registered" id="registered">
                  <option value=True selected>Da</option>
                  <option value=False>Ne</option>
                </select>
                <br>
                <br>

                <div id="land_or_levels">
                    <label for="land">Veličina zemljišta:</label>
                    <input type="number" id="land" name="land" step="0.1"/>
                    <br>
                    <br>
                </div>
                <br>
                <br>

                <label for="additional_info">Dodatne informacije:</label>
                <textarea name="additional_info" id="additional_info" maxlength="255">
                </textarea>
                <br>
                <br>

                <button type="submit" id="submit_btn" name="submit_btn" class="btn btn-info btn-block">Dodaj</button>
            </form>
        </div>`
    document.getElementById("action").innerHTML = html;
    document.getElementById("results").hidden = true;
}

function renderSearchInputs(){
    html = `
    <h1 class="jumbotron text-center">Pretraživač nekretnina</h1>
        <div class="container">
            <div class="row">
                <form action="{{ url_for('read', option=True) }}" method="POST">
                    <span class="border border-primary">
                        <div class="col-sm-6">
                                <h2>Filteri: </h2>

                                <h3>Tip nekretnine: </h3>
                                <input type="radio" id="radio_house" name="house" value="kuća">
                                <label for="radio_house">Kuća</label>
                                <input type="radio" id="radio_flat" name="house" value="stan">
                                <label for="radio_flat">Stan</label>
                                <br>
            
                                <h3>Dostupnost parkinga: </h3>
                                <input type="radio" id="radio_parking_yes" name="parking" value=True>
                                <label for="radio_parking_yes">Da</label>
                                <input type="radio" id="radio_parking_no" name="parking" value=False>
                                <label for="radio_parking_no">Ne</label>
                                <br>
            
                                <h3>Kvadratura: </h3>
                                <label for="min_squares">Od: </label>
                                <input type="number" id="min_squares" name="min_squares" min="0" max="1389">
                                <label for="max_squares">Do: </label>
                                <input type="number" id="max_squares" name="max_squares" min="0" max="1389">
                                <br>  
                        </div>
                    </span>
                    <div class="col-sm-6">
                        <h2>Pretraga po identifikatoru: </h2>
                        <label for="id_show">ID: </label>
                        <input type="number" id="id_show" name="id_show" min="0">
                        <br>
                        <br>
                    </div>
            </div>
            <div class="row">
                <br>
                <br>
                <button type="submit" id="submit_btn" name="submit_btn" class="btn btn-info btn-block">Pretraži</button>
                <hr>
                </form>
            </div>
        </div> `
        document.getElementById("action").innerHTML = html;
        document.getElementById("results").hidden = false;
}

function showLand(){
    html = `
            <label for="land">Veličina zemljišta:</label>
            <input type="number" id="land" name="land"/>
            <br>
            <br> `
    document.getElementById("land_or_levels").innerHTML = html;
}

function showLevels(){
    html = `
            <label for="level">Spratnost:</label>
                    <div id="level">
                        <input type="number" id="this_level" name="this_level"/>
                        <span>/</span>
                        <input type="number" id="all_levels" name="all_levels"/>
                    </div> `
    document.getElementById("land_or_levels").innerHTML = html;
}

function openModal(id){
    modal = document.getElementById("modal");
    modal.showModal();

    estate_id = document.getElementById("estate_id");
    estate_id.value = id;
}

function closeModal(){
    modal.close();
}

</script>

</html>